venv/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Django stuff
local_settings.py
db.sqlite3
media/

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv / poetry
Pipfile.lock
poetry.lock

# PEP 582; used by e.g. python-local
__pypackages__/

# Celery beat schedule file
celerybeat-schedule

# SageMath
*.sage.py

# Environment / secrets
.env
.envrc
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.spyproject
.ropeproject

# Documentation builds
/site

# mypy
.mypy_cache/

# Profiling
.prof

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Misc
*~
logs/
tasksync/
results/
figures/
scripts/*jobs*
generated_manifests/
scripts/retrain_jobs/
archived_scripts_*

batch_samples_ratio0/samples_metadata.txt
batch_samples_ratio0/images/sample000_GENERATED.jpg
batch_samples_ratio0/images/sample001_GENERATED.jpg
batch_samples_ratio0/images/sample002_GENERATED.jpg
batch_samples_ratio0/images/sample003_GENERATED.jpg
batch_samples_ratio0/images/sample004_GENERATED.jpg
batch_samples_ratio0/images/sample005_GENERATED.jpg
batch_samples_ratio0/images/sample006_GENERATED.jpg
batch_samples_ratio0/images/sample007_GENERATED.jpg
batch_samples_ratio0/images/sample008_GENERATED.jpg
batch_samples_ratio0/images/sample009_GENERATED.jpg
batch_samples_ratio0/images/sample010_GENERATED.jpg
batch_samples_ratio0/images/sample011_GENERATED.jpg
batch_samples_ratio0/images/sample012_GENERATED.jpg
batch_samples_ratio0/images/sample013_GENERATED.jpg
batch_samples_ratio0/images/sample014_GENERATED.jpg
batch_samples_ratio0/images/sample015_GENERATED.jpg
batch_samples_ratio0/images/sample016_GENERATED.jpg
batch_samples_ratio0/images/sample017_GENERATED.jpg
batch_samples_ratio0/images/sample018_GENERATED.jpg
batch_samples_ratio0/images/sample019_GENERATED.jpg
batch_samples_ratio0/labels/sample000_GENERATED_colored.png
batch_samples_ratio0/labels/sample000_GENERATED.png
batch_samples_ratio0/labels/sample001_GENERATED_colored.png
batch_samples_ratio0/labels/sample001_GENERATED.png
batch_samples_ratio0/labels/sample002_GENERATED_colored.png
batch_samples_ratio0/labels/sample002_GENERATED.png
batch_samples_ratio0/labels/sample003_GENERATED_colored.png
batch_samples_ratio0/labels/sample003_GENERATED.png
batch_samples_ratio0/labels/sample004_GENERATED_colored.png
batch_samples_ratio0/labels/sample004_GENERATED.png
batch_samples_ratio0/labels/sample005_GENERATED_colored.png
batch_samples_ratio0/labels/sample005_GENERATED.png
batch_samples_ratio0/labels/sample006_GENERATED_colored.png
batch_samples_ratio0/labels/sample006_GENERATED.png
batch_samples_ratio0/labels/sample007_GENERATED_colored.png
batch_samples_ratio0/labels/sample007_GENERATED.png
batch_samples_ratio0/labels/sample008_GENERATED_colored.png
batch_samples_ratio0/labels/sample008_GENERATED.png
batch_samples_ratio0/labels/sample009_GENERATED_colored.png
batch_samples_ratio0/labels/sample009_GENERATED.png
batch_samples_ratio0/labels/sample010_GENERATED_colored.png
batch_samples_ratio0/labels/sample010_GENERATED.png
batch_samples_ratio0/labels/sample011_GENERATED_colored.png
batch_samples_ratio0/labels/sample011_GENERATED.png
batch_samples_ratio0/labels/sample012_GENERATED_colored.png
batch_samples_ratio0/labels/sample012_GENERATED.png
batch_samples_ratio0/labels/sample013_GENERATED_colored.png
batch_samples_ratio0/labels/sample013_GENERATED.png
batch_samples_ratio0/labels/sample014_GENERATED_colored.png
batch_samples_ratio0/labels/sample014_GENERATED.png
batch_samples_ratio0/labels/sample015_GENERATED_colored.png
batch_samples_ratio0/labels/sample015_GENERATED.png
batch_samples_ratio0/labels/sample016_GENERATED_colored.png
batch_samples_ratio0/labels/sample016_GENERATED.png
batch_samples_ratio0/labels/sample017_GENERATED_colored.png
batch_samples_ratio0/labels/sample017_GENERATED.png
batch_samples_ratio0/labels/sample018_GENERATED_colored.png
batch_samples_ratio0/labels/sample018_GENERATED.png
batch_samples_ratio0/labels/sample019_GENERATED_colored.png
batch_samples_ratio0/labels/sample019_GENERATED.png
batch_samples_ratio0/overlays/sample000_GENERATED.jpg
batch_samples_ratio0/overlays/sample001_GENERATED.jpg
batch_samples_ratio0/overlays/sample002_GENERATED.jpg
batch_samples_ratio0/overlays/sample003_GENERATED.jpg
batch_samples_ratio0/overlays/sample004_GENERATED.jpg
batch_samples_ratio0/overlays/sample005_GENERATED.jpg
batch_samples_ratio0/overlays/sample006_GENERATED.jpg
batch_samples_ratio0/overlays/sample007_GENERATED.jpg
batch_samples_ratio0/overlays/sample008_GENERATED.jpg
batch_samples_ratio0/overlays/sample009_GENERATED.jpg
batch_samples_ratio0/overlays/sample010_GENERATED.jpg
batch_samples_ratio0/overlays/sample011_GENERATED.jpg
batch_samples_ratio0/overlays/sample012_GENERATED.jpg
batch_samples_ratio0/overlays/sample013_GENERATED.jpg
batch_samples_ratio0/overlays/sample014_GENERATED.jpg
batch_samples_ratio0/overlays/sample015_GENERATED.jpg
batch_samples_ratio0/overlays/sample016_GENERATED.jpg
batch_samples_ratio0/overlays/sample017_GENERATED.jpg
batch_samples_ratio0/overlays/sample018_GENERATED.jpg
batch_samples_ratio0/overlays/sample019_GENERATED.jpg
local_debug_batches/frozen_backbone_2000/training_config.py
local_debug_batches/frozen_backbone_2000/20260129_155901/20260129_155901.log
local_debug_batches/frozen_backbone_2000/20260129_155901/vis_data/config.py
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/iter_200.pth
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/last_checkpoint
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/training_config.py
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/20260129_144230/20260129_144230.log
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/20260129_144230/vis_data/config.py
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/20260129_144316/20260129_144316.log
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/20260129_144316/vis_data/20260129_144316.json
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/20260129_144316/vis_data/config.py
local_debug_batches/mismatch_bdd10k_imgs_iddaw_labels_200/20260129_144316/vis_data/scalars.json
local_debug_batches/mismatch_outside15k_imgs_iddaw_labels_200/iter_200.pth
local_debug_batches/mismatch_outside15k_imgs_iddaw_labels_200/last_checkpoint
local_debug_batches/mismatch_outside15k_imgs_iddaw_labels_200/training_config.py
local_debug_batches/mismatch_outside15k_imgs_iddaw_labels_200/20260129_144826/20260129_144826.log
local_debug_batches/mismatch_outside15k_imgs_iddaw_labels_200/20260129_144826/vis_data/20260129_144826.json
local_debug_batches/mismatch_outside15k_imgs_iddaw_labels_200/20260129_144826/vis_data/config.py
local_debug_batches/mismatch_outside15k_imgs_iddaw_labels_200/20260129_144826/vis_data/scalars.json
local_debug_batches/noise_2000/iter_2000.pth
local_debug_batches/noise_2000/last_checkpoint
local_debug_batches/noise_2000/training_config.py
local_debug_batches/noise_2000/20260129_154815/20260129_154815.log
local_debug_batches/noise_2000/20260129_154815/vis_data/20260129_154815.json
local_debug_batches/noise_2000/20260129_154815/vis_data/config.py
local_debug_batches/noise_2000/20260129_154815/vis_data/scalars.json
local_debug_batches/noise_sanity_test/iter_200.pth
local_debug_batches/noise_sanity_test/last_checkpoint
local_debug_batches/noise_sanity_test/training_config.py
local_debug_batches/noise_sanity_test/20260129_142636/20260129_142636.log
local_debug_batches/noise_sanity_test/20260129_142636/vis_data/config.py
local_debug_batches/noise_sanity_test/20260129_142744/20260129_142744.log
local_debug_batches/noise_sanity_test/20260129_142744/vis_data/config.py
local_debug_batches/noise_sanity_test/20260129_142820/20260129_142820.log
local_debug_batches/noise_sanity_test/20260129_142820/vis_data/config.py
local_debug_batches/noise_sanity_test/20260129_142851/20260129_142851.log
local_debug_batches/noise_sanity_test/20260129_142851/vis_data/20260129_142851.json
local_debug_batches/noise_sanity_test/20260129_142851/vis_data/config.py
local_debug_batches/noise_sanity_test/20260129_142851/vis_data/scalars.json
local_debug_batches/noise_test_2000/training_config.py
local_debug_batches/noise_test_2000/20260129_154739/20260129_154739.log
local_debug_batches/noise_test_2000/20260129_154739/vis_data/config.py
local_debug_batches/ratio0_mixed_noworkers/paths.txt
local_debug_batches/ratio0_mixed_noworkers/images/sample_00.png
local_debug_batches/ratio0_mixed_noworkers/images/sample_01.png
local_debug_batches/ratio0_mixed_noworkers/images/sample_02.png
local_debug_batches/ratio0_mixed_noworkers/images/sample_03.png
local_debug_batches/ratio0_mixed_noworkers/images/sample_04.png
local_debug_batches/ratio0_mixed_noworkers/images/sample_05.png
local_debug_batches/ratio0_mixed_noworkers/images/sample_06.png
local_debug_batches/ratio0_mixed_noworkers/images/sample_07.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_00.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_01.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_02.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_03.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_04.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_05.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_06.png
local_debug_batches/ratio0_mixed_noworkers/labels/sample_07.png
local_debug_batches/ratio0_mixed_workers/paths.txt
local_debug_batches/ratio0_mixed_workers/images/sample_00.png
local_debug_batches/ratio0_mixed_workers/images/sample_01.png
local_debug_batches/ratio0_mixed_workers/images/sample_02.png
local_debug_batches/ratio0_mixed_workers/images/sample_03.png
local_debug_batches/ratio0_mixed_workers/images/sample_04.png
local_debug_batches/ratio0_mixed_workers/images/sample_05.png
local_debug_batches/ratio0_mixed_workers/images/sample_06.png
local_debug_batches/ratio0_mixed_workers/images/sample_07.png
local_debug_batches/ratio0_mixed_workers/labels/sample_00.png
local_debug_batches/ratio0_mixed_workers/labels/sample_01.png
local_debug_batches/ratio0_mixed_workers/labels/sample_02.png
local_debug_batches/ratio0_mixed_workers/labels/sample_03.png
local_debug_batches/ratio0_mixed_workers/labels/sample_04.png
local_debug_batches/ratio0_mixed_workers/labels/sample_05.png
local_debug_batches/ratio0_mixed_workers/labels/sample_06.png
local_debug_batches/ratio0_mixed_workers/labels/sample_07.png
local_debug_batches/real_sanity_200/iter_200.pth
local_debug_batches/real_sanity_200/last_checkpoint
local_debug_batches/real_sanity_200/training_config.py
local_debug_batches/real_sanity_200/20260129_143740/20260129_143740.log
local_debug_batches/real_sanity_200/20260129_143740/vis_data/20260129_143740.json
local_debug_batches/real_sanity_200/20260129_143740/vis_data/config.py
local_debug_batches/real_sanity_200/20260129_143740/vis_data/scalars.json
local_debug_batches/stargan_v2_2000/training_config.py
local_debug_batches/stargan_v2_2000/20260129_160703/20260129_160703.log
local_debug_batches/stargan_v2_2000/20260129_161452/20260129_161452.log
local_debug_batches/stargan_v2_2000/20260129_161452/vis_data/config.py
local_debug_batches/stargan_v2_sanity_200/iter_200.pth
local_debug_batches/stargan_v2_sanity_200/last_checkpoint
local_debug_batches/stargan_v2_sanity_200/training_config.py
local_debug_batches/stargan_v2_sanity_200/20260129_143318/20260129_143318.log
local_debug_batches/stargan_v2_sanity_200/20260129_143318/vis_data/20260129_143318.json
local_debug_batches/stargan_v2_sanity_200/20260129_143318/vis_data/config.py
local_debug_batches/stargan_v2_sanity_200/20260129_143318/vis_data/scalars.json
